div.section.container-2
	div.flex-header
		h3 Categories:
	div.flex-row
		div.item
			img.item-img(src="/images/artlimited_img307604.jpg")
			div.item-header Pretty Icy Trees
			div.item-text This is an item of which there is no definitive definition. This is something ambiguous and entirely nowhere going. Empty text. Get it?
			button.item-button More
		div.item
			img.item-img(src="/images/Tulip-logo-11-11-v7.9.png")
			div.item-header Tulip Electronics Logo
			div.item-text This is an item of which there is no definitive definition. This is something ambiguous and entirely nowhere going. Empty text. Get it?
			button.item-button More
		div.item
			img.item-img(src="/images/lifeward-square-logo-v3.3h6E.png")
			div.item-header Lifeward Labs Logo
			div.item-text This is an item of which there is no definitive definition. This is something ambiguous and not really going anywhere. Empty text. Get it?
			button.item-button More
div.section.container-2
	div.flex-header
		h3 Categories:
	div.flex-column
		div.item
			img.item-img(src="/images/artlimited_img307604.jpg")
			div.item-header Pretty Icy Trees
			div.item-text This is an item of which there is no definitive definition. This is something ambiguous and entirely nowhere going. Empty text. Get it?
			button.item-button More
		div.item
			img.item-img(src="/images/Tulip-logo-11-11-v7.9.png")
			div.item-header Tulip Electronics Logo
			div.item-text This is an item of which there is no definitive definition. This is something ambiguous and entirely nowhere going. Empty text. Get it?
			button.item-button More
		div.item
			img.item-img(src="/images/lifeward-square-logo-v3.3h6E.png")
			div.item-header Lifeward Labs Logo
			div.item-text This is an item of which there is no definitive definition. This is something ambiguous and not really going anywhere. Empty text. Get it?
			button.item-button More
div.section.container-2
	div.flex-header
		h3 Categories:
	div.flex-row
		div.item
			img.item-img(src="/images/artlimited_img307604.jpg")
			div.flex-column-content
				div.item-header 
					h3 Pretty Icy Trees
					p.item-text This is an item of which there is no definitive definition. This is something ambiguous and entirely nowhere going. Empty text. Get it?
				button.item-button More
		div.item
			img.item-img(src="/images/Tulip-logo-11-11-v7.9.png")
			div.flex-column-content
				h3.item-header Tulip Electronics Logo
				p.item-text This is an item of which there is no definitive definition. This is something ambiguous and entirely nowhere going. Empty text. Get it?
			button.item-button More
		div.item
			img.item-img(src="/images/lifeward-square-logo-v3.3h6E.png")
			div.flex-column-content
				h3.item-header Lifeward Labs Logo
				p.item-text This is an item of which there is no definitive definition. This is something ambiguous and not really going anywhere. Empty text. Get it?
			button.item-button More
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
