div.section

	div.flex-header
		h3 Categories:
	div.flex-row
		div.item
			div.item-img(src="/images/artlimited_img307604.jpg")
			div.item-header Item #1
			div.item-text This is an item of which there is no definitive definition. This is something ambiguous and entirely nowhere going. Empty text. Get it?
			button.item-button Details
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
		div.item
