div.footer
  div.contact
    p
        Contact me<br>
        hello@mikepeiman.com
  div.contact
    p
      a(href="http://github.com/mikepeiman") github.com/mikepeiman
      a(href="http://twitter.com/mikepeiman") github.com/mikepeiman
