section.flex-container 
	div.flex-item-gallery-small
		h2 This is a small flex item
	div.flex-item-gallery-small
		h2 This is a small flex item
	div.flex-item-gallery-small
		h2 This is a small flex item