section.flex-container 
	div.flex-item-gallery-large
		h2 This is a large flex item
	div.flex-item-gallery-large
		h2 This is a large flex item
	div.flex-item-gallery-large
		h2 This is a large flex item