section.flex-container 
	div.flex-item-gallery-medium
		h2 This is a medium flex item
	div.flex-item-gallery-medium
		h2 This is a medium flex item
	div.flex-item-gallery-medium
		h2 This is a medium flex item