div.flex-topnav
	a.nav-item(href="javascript:void") Home
	a.nav-item(href="javascript:void") About
	a.nav-item(href="javascript:void") Work
	a.nav-item(href="javascript:void") Blog
	a.nav-item(href="javascript:void") Contact

div.flex-row
	h1.mike-peiman Mike Peiman

div.flex-row
	h2.hero-h2.center Father, Web Developer, Global Citizen
div.flex-row
	div.sexy-line

div.flex-header
	h3 Categories:



