div.flex-topnav
	a.nav-item(href="javascript:void") Home
	a.nav-item(href="javascript:void") About
	a.nav-item(href="javascript:void") Work
	a.nav-item(href="javascript:void") Blog
	a.nav-item(href="javascript:void") Contact

div.flex-row
	h1.mike-peiman Michael Peiman
	h2.hero-h2 Father, Web Developer, Global Citizen




