div.container-1
	div.flex-topnav
		a.nav-item(href="javascript:void") Home
		a.nav-item(href="javascript:void") About
		a.nav-item(href="javascript:void") Work
		a.nav-item(href="javascript:void") Blog
		a.nav-item(href="javascript:void") Contact