@import url(//fonts.googleapis.com/css?family=Oswald:400,700,300|Bitter:400,700|Inconsolata:400,700|Lato:400|Cinzel+Decorative:400,700);
@import url(//fonts.googleapis.com/css?family=Oswald:400,700,300|Neuton:400,700|Arapey:400|Lobster+Two:400,700|Josefin+Sans:400,700|Cinzel+Decorative:400,700|Titillium-Web:400,700|Alegreya+Sans:400,700);
body {
  background: url("/images/Black-Background-Wood-Clean-2560x1600-by-Freeman-dappled.jpg") center center no-repeat #111;
  background-size: cover;
  margin: 0em; }

.posts span {
  color: #ddeeff; }

.center {
  text-align: center; }

h1 {
  font-family: 'Neuton', 'Bitter', 'Lobster Two', 'Arapey', 'Alegreya Sans', 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 5em;
  color: white; }

h2 {
  font-size: 5em;
  color: white;
  font-family: 'Alegreya Sans', 'Arapey','Josefin Sans', 'Bitter', 'Inconsolata', 'Lato',   sans-serif;
  align-self: center;
  font-weight: 400; }

h3 {
  font-size: 2vh;
  color: #999;
  font-family: 'Inconsolata', sans-serif;
  align-self: center;
  font-weight: 400; }

.button {
  width: 5vw;
  background: #fff;
  height: 5vh; }

.mike-peiman {
  font-size: 10vh;
  color: rgba(0, 0, 0, 0.93);
  -webkit-text-stroke: 2px #777;
  text-align: center;
  margin-top: 8vw;
  margin-bottom: 0;
  width: 100%;
  background: linear-gradient(330deg, #301B97 0%, #971B97 20%, #971B30 40%, #976E1B 55%, #59971B 70%, #301B97 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.75); }

.hero-h2 {
  background: linear-gradient(330deg, #301B97 0%, #971B97 20%, #971B30 40%, #976E1B 60%, #59971B 80%, #301B97 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vh;
  padding-bottom: 8vw;
  align-self: stretch;
  width: 100%;
  text-align: center; }

.sexy-line {
  margin: 0;
  height: 15px;
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  margin-bottom: 1.5em; }

.nav-item {
  align-self: stretch;
  flex-basis: auto;
  font-family: 'Inconsolata', 'Lato', sans-serif;
  color: #999;
  font-size: 1.25em;
  padding: 1.5vh 5vw;
  text-decoration: none;
  width: 20%;
  text-align: center; }

.section {
  background: rgba(0, 0, 0, 0.75);
  color: #77bbff;
  border-top: solid 2px #3399ff;
  border-image: linear-gradient(330deg, #301B97 0%, #971B97 20%, #971B30 40%, #976E1B 60%, #59971B 80%, #301B97 100%);
  border-image-slice: 1; }

.flex-topnav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch; }

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  margin: 0 7.25vw; }

.flex-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 7.25vw; }

.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  justify-content: center; }

.text-item {
  width: 30%; }

.full-flex {
  width: 100%; }

.item {
  /*height: 50px;*/
  margin: 5px;
  border: 5px solid #3399ff;
  font-family: 'Inconsolata', 'Lato', sans-serif;
  color: #999;
  font-size: 1.2vw;
  text-align: left;
  padding: 0 1vw;
  line-height: 50px;
  font-weight: 400;
  min-width: 20%;
  min-height: 100px;
  align-self: stretch;
  flex-basis: auto; }

.item-img {
  width: 95%;
  border: 1px solid rgba(50, 150, 255, 0.25);
  min-height: 5vh;
  height: 15vh;
  flex: 1 0 auto; }

.item-header {
  width: 85%;
  font-size: 4vh; }

item.h3 {
  font-size: 4vw; }

.item-text {
  width: 85%;
  font-size: 2vh;
  line-height: 2.2vh;
  overflow: hidden;
  flex-basis: 150px; }

.item-button {
  background: rgba(108, 78, 19, 0.5);
  border-bottom: 2px solid #dca73c;
  color: #d9d9d9; }

.nav-item:nth-child(1) {
  border-bottom: 2px solid #301b97; }

.nav-item:nth-child(2) {
  border-bottom: 2px solid #971b97; }

.nav-item:nth-child(3) {
  border-bottom: 2px solid #971b30; }

.nav-item:nth-child(4) {
  border-bottom: 2px solid #976e1b; }

.nav-item:nth-child(5) {
  border-bottom: 2px solid #59971b; }

.nav-item:nth-child(1):hover {
  background: rgba(22, 0, 127, 0.25);
  border-bottom: 2px solid #3e23c2; }

.nav-item:nth-child(2):hover {
  background: rgba(108, 19, 108, 0.25);
  border-bottom: 2px solid #c223c2; }

.nav-item:nth-child(3):hover {
  background: rgba(108, 19, 34, 0.25);
  border-bottom: 2px solid #c2233e; }

.nav-item:nth-child(4):hover {
  background: rgba(108, 78, 19, 0.25);
  border-bottom: 2px solid #c28e23; }

.nav-item:nth-child(5):hover {
  background: rgba(64, 108, 19, 0.25);
  border-bottom: 2px solid #73c223; }

.nav-item:nth-child(1):active {
  background: rgba(22, 0, 127, 0.5);
  border-bottom: 2px solid #573cdc;
  color: #d9d9d9; }

.nav-item:nth-child(2):active {
  background: rgba(108, 19, 108, 0.5);
  border-bottom: 2px solid #dc3cdc;
  color: #d9d9d9; }

.nav-item:nth-child(3):active {
  background: rgba(108, 19, 34, 0.5);
  border-bottom: 2px solid #dc3c57;
  color: #d9d9d9; }

.nav-item:nth-child(4):active {
  background: rgba(108, 78, 19, 0.5);
  border-bottom: 2px solid #dca73c;
  color: #d9d9d9; }

.nav-item:nth-child(5):active {
  background: rgba(64, 108, 19, 0.5);
  border-bottom: 2px solid #8cdc3c;
  color: #d9d9d9; }

.item:nth-child(5n+1) {
  flex: 1 5 auto;
  width: 30%;
  align-self: flex-end;
  border: 2px solid rgba(48, 27, 151, 0.35); }

.item:nth-child(5n+2) {
  flex: 2 4 auto;
  width: 35%;
  border: 2px solid rgba(151, 27, 151, 0.35); }

.item:nth-child(5n+3) {
  flex: 3 3 auto;
  width: 40%;
  border: 2px solid rgba(151, 27, 48, 0.35); }

.item:nth-child(5n+4) {
  flex: 4 2 auto;
  width: 45%;
  border: 2px solid rgba(151, 110, 27, 0.35); }

.item:nth-child(5n+5) {
  flex: 5 1 auto;
  width: 50%;
  border: 2px solid rgba(89, 151, 27, 0.35); }

/*
.item:nth-child(4) {
  order: 4;
  flex: 0 2 auto;
  background: lightgreen;
}

.item:nth-child(5) {
  order: 5;
  flex: 1 1 auto;
  align-self: auto;
  flex-basis: auto;
  background: rgba(255,255,255,0.1);
}
*/
@media only screen and (max-width: 580px) {
  .mike-peiman {
    font-size: 6.5vh;
    margin-top: 7.5vh; }

  .hero-h2 {
    font-size: 3vh;
    margin-bottom: 5vh;
    background: #aaa;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

  .flex-topnav {
    diplay: inline-block;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }

  .nav-item {
    padding: 1vh 0vh;
    margin: 0;
    width: 33%; }

  .item {
    padding: 0;
    margin: .25em 0em;
    font-size: 2vh;
    text-align: center; } }
@media only screen and (min-width: 1080px) {
  .mike-peiman {
    font-size: 14vh;
    margin-top: 16vh; }

  .hero-h2 {
    font-size: 7vh;
    margin-bottom: 6vh;
    background: linear-gradient(330deg, #301B97 0%, #971B97 20%, #971B30 40%, #976E1B 60%, #59971B 80%, #301B97 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

  .flex-topnav {
    diplay: inline-block;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }

  .nav-item {
    padding: 2vh 1vh;
    width: 17.5%; } }

/*# sourceMappingURL=_styles.css.map */
