@import url(//fonts.googleapis.com/css?family=Oswald:400,700,300|Bitter:400,700|Inconsolata:400,700|Lato:400|Cinzel+Decorative:400,700);
@import url(//fonts.googleapis.com/css?family=Oswald:400,700,300|Neuton:400,700|Arapey:400|Lobster+Two:400,700|Josefin+Sans:400,700|Cinzel+Decorative:400,700|Titillium-Web:400,700|Alegreya+Sans:400,700);
body {
  clear: all;
  margin: 0em;
  background-color: #222; }

.container-1 {
  background-color: #222;
  /*background: url("/images/scenic-bg-13.jpg") center center no-repeat #111;
  background-size: cover;*/ }

.posts span {
  color: #ddeeff; }

.center {
  text-align: center; }

h1 {
  font-family: 'Neuton', 'Bitter', 'Lobster Two', 'Arapey', 'Alegreya Sans', 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 5em;
  color: white; }

h2 {
  font-size: 5em;
  color: white;
  font-family: 'Alegreya Sans', 'Arapey','Josefin Sans', 'Bitter', 'Inconsolata', 'Lato',   sans-serif;
  align-self: center;
  font-weight: 400; }

h3 {
  font-size: 2vh;
  color: #999;
  font-family: 'Inconsolata', sans-serif;
  align-self: center;
  font-weight: 400; }

.button {
  flex: 1 0 auto;
  align-self: center;
  margin: 0 auto;
  display: block; }

.mike-peiman {
  font-size: 10vh;
  color: rgba(0, 0, 0, 0.93);
  margin: 8vw 1.25vw -10vh 0;
  margin-top: 8vw;
  margin-bottom: 0vh;
  z-index: 100;
  width: 100%;
  text-align: center;
  /*background: linear-gradient(330deg, #301B97 0%, #971B97 20%, #971B30 40%, #976E1B 55%, #59971B 70%, #301B97 85%);//linear-gradient(330deg, #4125CC 0%, #CC25CC 20%, #CC2541 40%, #CC9425 60%, #78CC25 80%, #4125CC 100%);//linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(0,0,0,0.5);*/ }

.hero-h2 {
  display: none;
  color: #333;
  font-size: 6vh;
  font-weight: 400;
  padding-bottom: 8vw;
  align-self: stretch;
  width: 100%;
  text-align: center; }

.sexy-line {
  margin: 0;
  height: 15px;
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  margin-bottom: 1.5em; }

.nav-item {
  align-self: stretch;
  flex-basis: auto;
  font-family: 'Inconsolata', 'Lato', sans-serif;
  color: #999;
  font-size: 1.25em;
  padding: 1.5vh 5vw;
  text-decoration: none;
  width: 20%;
  text-align: center; }

.section {
  color: #77bbff;
  border-top: solid 245px #111;
  background: #222; }

.container-2 {
  background-color: rgba(0, 0, 0, 0.25); }

.logo-img {
  width: 25vw;
  margin-bottom: -1vh; }

.flex-topnav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  background: #222;
  position: absolute;
  top: 0; }

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  margin: 0 7.25vw; }

.flex-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: space-between;
  align-content: space-between;
  justify-content: center; }

.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center; }

.flex-column-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%; }

.text-item {
  width: 30%; }

.full-flex {
  width: 100%; }

.item {
  /*height: 50px;*/
  margin: 1vw;
  background: #111;
  font-family: 'Inconsolata', 'Lato', sans-serif;
  color: #999;
  font-size: 1.2vh;
  margin: 1.5vh;
  line-height: 2vh;
  font-weight: 400;
  min-width: 45%;
  min-height: 50px;
  align-self: stretch;
  flex: 1 0 auto; }

.item-img {
  width: calc(30% - 10px);
  min-height: 5vh;
  height: 25%;
  float: left; }

.item-header {
  font-size: 4vh;
  line-height: 4vh;
  color: #a292ec;
  text-align: center;
  padding: 0;
  margin: 0 auto; }

.item-text {
  width: 100%;
  font-size: 2vh;
  line-height: 2.2vh;
  text-align: center;
  align-self: stretch; }

.item-button {
  background: rgba(34, 19, 108, 0.5);
  border-bottom: 2px solid #573cdc;
  border-radius: 4px;
  padding: 1vh 2vw;
  margin: 1vw;
  float: none;
  color: #d9d9d9;
  flex: 1 0 auto;
  align-self: center; }

.nav-item:nth-child(1) {
  border-bottom: 5px solid #573cdc; }

.nav-item:nth-child(2) {
  border-bottom: 5px solid #971b97; }

.nav-item:nth-child(3) {
  border-bottom: 5px solid #971b30; }

.nav-item:nth-child(4) {
  border-bottom: 5px solid #976e1b; }

.nav-item:nth-child(5) {
  border-bottom: 5px solid #59971b; }

.nav-item:nth-child(1):hover {
  background: rgba(22, 0, 127, 0.25);
  border-bottom: 5px solid #573cdc; }

.nav-item:nth-child(2):hover {
  background: rgba(108, 19, 108, 0.25);
  border-bottom: 5px solid #c223c2; }

.nav-item:nth-child(3):hover {
  background: rgba(108, 19, 34, 0.25);
  border-bottom: 5px solid #c2233e; }

.nav-item:nth-child(4):hover {
  background: rgba(108, 78, 19, 0.25);
  border-bottom: 5px solid #c28e23; }

.nav-item:nth-child(5):hover {
  background: rgba(64, 108, 19, 0.25);
  border-bottom: 5px solid #73c223; }

.nav-item:nth-child(1):active {
  background: rgba(22, 0, 127, 0.5);
  border-bottom: 5px solid #7c67e4;
  color: #d9d9d9; }

.nav-item:nth-child(2):active {
  background: rgba(108, 19, 108, 0.5);
  border-bottom: 5px solid #dc3cdc;
  color: #d9d9d9; }

.nav-item:nth-child(3):active {
  background: rgba(108, 19, 34, 0.5);
  border-bottom: 5px solid #dc3c57;
  color: #d9d9d9; }

.nav-item:nth-child(4):active {
  background: rgba(108, 78, 19, 0.5);
  border-bottom: 5px solid #dca73c;
  color: #d9d9d9; }

.nav-item:nth-child(5):active {
  background: rgba(64, 108, 19, 0.5);
  border-bottom: 5px solid #8cdc3c;
  color: #d9d9d9; }

.item:nth-child(5n+1) {
  flex: 1 5 auto;
  width: 25%;
  border: 5px solid rgba(48, 27, 151, 0.35); }

.item:nth-child(5n+2) {
  flex: 2 4 auto;
  width: 30%;
  border: 5px solid rgba(151, 27, 151, 0.35); }

.item:nth-child(5n+3) {
  flex: 3 3 auto;
  width: 35%;
  border: 5px solid rgba(151, 27, 48, 0.35); }

.item:nth-child(5n+4) {
  flex: 4 2 auto;
  border: 5px solid rgba(151, 110, 27, 0.35); }

.item:nth-child(5n+5) {
  flex: 5 1 auto;
  border: 5px solid rgba(89, 151, 27, 0.35); }

/*
.item:nth-child(4) {
  order: 4;
  flex: 0 2 auto;
  background: lightgreen;
}

.item:nth-child(5) {
  order: 5;
  flex: 1 1 auto;
  align-self: auto;
  flex-basis: auto;
  background: rgba(255,255,255,0.1);
}
*/
@media only screen and (max-width: 580px) {
  .mike-peiman {
    font-size: 6.5vh;
    margin-top: 7.5vh;
    margin-bottom: 0vh;
    -webkit-text-stroke: 1px #ccc; }

  .hero-h2 {
    font-size: 3vh;
    margin-bottom: 5vh;
    color: #ccc;
   /*linear-gradient(330deg, #301B97 0%, #971B97 20%, #971B30 40%, #976E1B 60%, #59971B 80%, #301B97 100%);//linear-gradient(330deg, #4125CC 0%, #CC25CC 20%, #CC2541 40%, #CC9425 60%, #78CC25 80%, #4125CC 100%);//linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;*/
    -webkit-text-stroke: 0px #151515; }

  .logo-img {
    width: 50vw; }

  .flex-topnav {
    diplay: inline-block;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }

  .nav-item {
    padding: 1vh 0vh;
    margin: 0;
    width: 33%; }

  .item {
    padding: 0;
    margin: .25em 0em;
    font-size: 2vh;
    text-align: center; } }
@media only screen and (min-width: 1080px) {
  .mike-peiman {
    font-size: 14vh;
    margin-top: 16vh;
    margin-bottom: -10vh; }

  .hero-h2 {
    font-size: 7vh;
    margin-bottom: 6vh;
    color: #ccc;
   /*background: linear-gradient(330deg, #301B97 0%, #971B97 20%, #971B30 40%, #976E1B 60%, #59971B 80%, #301B97 100%);//linear-gradient(330deg, #4125CC 0%, #CC25CC 20%, #CC2541 40%, #CC9425 60%, #78CC25 80%, #4125CC 100%);//linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;*/ }

  .flex-topnav {
    diplay: inline-block;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }

  .nav-item {
    padding: 2vh 1vh;
    width: 17.5%; }

  .item {
    max-width: 20%; } }

/*# sourceMappingURL=_styles.css.map */
